body {
  font-family: var(--fontSans);
  font-size: var(--fsMd);
  font-weight: var(--fwRg);
  color: var(--gray900);
  background: var(--white);
}

#root {
  min-height: 100vh;
  width: 100%;
  background: var(--white);
  box-shadow: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

input::placeholder,
textarea::placeholder {
  color: var(--gray500);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}